name: Cypress Tests on Cloud
on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Cypress Run (Chrome) + Record to Cloud
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          record: true
          start: npx vite --port 3000 --host    # Vite start
          wait-on: 'http://localhost:3000'
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
